In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import pickle

In [2]:
pd.set_option('display.max_columns',30)

In [3]:
from yaml import safe_load
import os
from tqdm import tqdm

In [4]:
filename=[]
for file in os.listdir('t20s'):
    filename.append(os.path.join('t20s',file))

In [5]:
filename[0:5]

['t20s\\1001349.yaml',
 't20s\\1001351.yaml',
 't20s\\1001353.yaml',
 't20s\\1004729.yaml',
 't20s\\1007655.yaml']

In [6]:
data=pd.DataFrame()
c=1
for file in tqdm(filename):
    with open(file,'r') as f:
        da=pd.json_normalize(safe_load(f))
        da['match_id']=c
        data=data.append(da)
        c+=1

100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1433 [10:32<00:00,  2.26it/s]

AttributeError: 'str' object has no attribute 'values'

In [7]:
match=data.copy()

In [12]:
data.head(2)

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.columns

Index(['innings', 'meta.data_version', 'meta.created', 'meta.revision',
       'info.dates', 'info.gender', 'info.match_type',
       'info.outcome.by.wickets', 'info.outcome.winner', 'info.overs',
       'info.player_of_match', 'info.teams', 'info.toss.decision',
       'info.toss.winner', 'info.umpires', 'info.venue', 'match_id',
       'info.city', 'info.outcome.by.runs', 'info.match_type_number',
       'info.neutral_venue', 'info.outcome.method', 'info.outcome.result',
       'info.outcome.eliminator', 'info.supersubs.New Zealand',
       'info.supersubs.South Africa', 'info.bowl_out',
       'info.outcome.bowl_out'],
      dtype='object')

In [14]:
data.drop(columns=['meta.data_version','meta.created','meta.revision','info.outcome.bowl_out',
 'info.bowl_out','info.supersubs.South Africa','info.supersubs.New Zealand','info.outcome.method', 'info.outcome.result',
       'info.outcome.eliminator','info.outcome.by.runs', 'info.match_type_number',
       'info.neutral_venue'],inplace=True)

In [15]:
data.head(2)

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria

In [26]:
data.reset_index(drop=True,inplace=True)

In [29]:
data.head(2)

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria

In [30]:
data['info.gender'].value_counts()

male      966
female    466
Name: info.gender, dtype: int64

In [32]:
ma=data[data['info.gender']=='male']

In [141]:
ma.head(2)

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria

In [142]:
ma.shape

(966, 15)

In [138]:
ma['info.overs'].value_counts()

20    963
50      3
Name: info.overs, dtype: int64

In [143]:
cri=ma[ma['info.overs']==20]

In [149]:

pickle.dump(cri,open('t20_cri','wb'))

In [174]:
cr=pickle.load(open('t20_cri','rb'))

In [175]:
cr=cr.reset_index(drop=True)
cr

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,NaN,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,NaN,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,NaN,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,6.0,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
959,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,8.0,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
960,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,NaN,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
961,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,NaN,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
962,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,4.0,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [176]:
cr.head(2)

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,5.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,2.0,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria

In [177]:
cr.tail()

,innings,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
958,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,6.0,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
959,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,8.0,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
960,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,NaN,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
961,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,NaN,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
962,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,4.0,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [178]:
cr.shape[0]

963

In [179]:
cr.loc[0,'innings']

[{'1st innings': {'team': 'Australia',
   'deliveries': [{0.1: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.2: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.3: {'batsman': 'AJ Finch',
      'bowler': 'SL Malinga',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {0.4: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {0.5: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {0.6: {'batsman': 'M Klinger',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {1.1: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.2: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {1.3: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {1.5: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {1.6: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {2.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {2.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {2.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {2.6: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.1: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {3.2: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.3: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.4: {'batsman': 'AJ Finch',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {3.5: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {3.6: {'batsman': 'M Klinger',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.1: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.2: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {4.3: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.4: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {4.5: {'batsman': 'M Klinger',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {4.6: {'batsman': 'AJ Finch',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.1: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'wides': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {5.3: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {5.5: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {5.7: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {6.4: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {6.6: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {7.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {7.2: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {7.4: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'extras': {'byes': 1},
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {7.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {7.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.2: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {8.3: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {8.4: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.5: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {8.6: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.1: {'batsman': 'M Klinger',
      'bowler': 'S Prasanna',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {9.2: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.3: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.4: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {9.5: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {9.6: {'batsman': 'AJ Finch',
      'bowler': 'S Prasanna',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {10.1: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.2: {'batsman': 'AJ Finch',
      'bowler': 'PADLR Sandakan',
      'extras': {'legbyes': 1},
      'non_striker': 'M Klinger',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {10.3: {'batsman': 'M Klinger',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'M Klinger'}}},
    {10.4: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {10.5: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {10.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'AJ Finch',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {11.1: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {11.2: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {11.3: {'batsman': 'AJ Finch',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['SL Malinga'],
       'kind': 'caught',
       'player_out': 'AJ Finch'}}},
    {11.4: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.5: {'batsman': 'MC Henriques',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {11.6: {'batsman': 'TM Head',
      'bowler': 'DAS Gunaratne',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.1: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.2: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.3: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.4: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {12.5: {'batsman': 'TM Head',
      'bowler': 'S Prasanna',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {12.6: {'batsman': 'MC Henriques',
      'bowler': 'S Prasanna',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.1: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {13.2: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'extras': {'wides': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {13.3: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {13.5: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.6: {'batsman': 'MC Henriques',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {13.7: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.1: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.2: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.3: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {14.4: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {14.5: {'batsman': 'MC Henriques',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'TM Head',
      'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
    {14.6: {'batsman': 'TM Head',
      'bowler': 'PADLR Sandakan',
      'non_striker': 'MC Henriques',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.1: {'batsman': 'MC Henriques',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['CK Kapugedera'],
       'kind': 'caught',
       'player_out': 'MC Henriques'}}},
    {15.2: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.3: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.4: {'batsman': 'AJ Turner',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {15.5: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {15.6: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'extras': {'wides': 1},
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {15.7: {'batsman': 'TM Head',
      'bowler': 'JRMVB Sanjaya',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
    {16.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {16.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {16.3: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {16.6: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.1: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.2: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {17.3: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'noballs': 1},
      'non_striker': 'TM Head',
      'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
    {17.4: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.5: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.6: {'batsman': 'AJ Turner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {17.7: {'batsman': 'TM Head',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.1: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.2: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'TM Head',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {18.3: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {18.4: {'batsman': 'TM Head',
      'bowler': 'SL Malinga',
      'non_striker': 'AJ Turner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'TM Head'}}},
    {18.5: {'batsman': 'AJ Turner',
      'bowler': 'SL Malinga',
      'non_striker': 'JP Faulkner',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0},
      'wicket': {'fielders': ['S Prasanna'],
       'kind': 'caught',
       'player_out': 'AJ Turner'}}},
    {18.6: {'batsman': 'JP Faulkner',
      'bowler': 'SL Malinga',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
    {19.1: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
    {19.2: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
    {19.3: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'non_striker': 'TD Paine',
      'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
    {19.4: {'batsman': 'JP Faulkner',
      'bowler': 'KMDN Kulasekara',
      'extras': {'wides': 1},

In [211]:
cr.loc[0,'innings'][0]['1st innings']

{'team': 'Australia',
 'deliveries': [{0.1: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.2: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.3: {'batsman': 'AJ Finch',
    'bowler': 'SL Malinga',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {0.4: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {0.5: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {0.6: {'batsman': 'M Klinger',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {1.1: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.2: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {1.3: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.4: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {1.5: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {1.6: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {2.1: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {2.2: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {2.3: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {2.4: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {2.5: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {2.6: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {3.1: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {3.2: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.3: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.4: {'batsman': 'AJ Finch',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {3.5: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {3.6: {'batsman': 'M Klinger',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {4.1: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {4.2: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {4.3: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {4.4: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {4.5: {'batsman': 'M Klinger',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {4.6: {'batsman': 'AJ Finch',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.1: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.2: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'extras': {'wides': 1},
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {5.3: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {5.4: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {5.5: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {5.7: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {6.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.2: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.3: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {6.4: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.5: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {6.6: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {7.1: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {7.2: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {7.3: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {7.4: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'extras': {'byes': 1},
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {7.5: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {7.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.2: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {8.3: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {8.4: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {8.5: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {8.6: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {9.1: {'batsman': 'M Klinger',
    'bowler': 'S Prasanna',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {9.2: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.3: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.4: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {9.5: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {9.6: {'batsman': 'AJ Finch',
    'bowler': 'S Prasanna',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {10.1: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {10.2: {'batsman': 'AJ Finch',
    'bowler': 'PADLR Sandakan',
    'extras': {'legbyes': 1},
    'non_striker': 'M Klinger',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {10.3: {'batsman': 'M Klinger',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['SL Malinga'],
     'kind': 'caught',
     'player_out': 'M Klinger'}}},
  {10.4: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {10.5: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {10.6: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'AJ Finch',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {11.1: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {11.2: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {11.3: {'batsman': 'AJ Finch',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['SL Malinga'],
     'kind': 'caught',
     'player_out': 'AJ Finch'}}},
  {11.4: {'batsman': 'TM Head',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {11.5: {'batsman': 'MC Henriques',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {11.6: {'batsman': 'TM Head',
    'bowler': 'DAS Gunaratne',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.1: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {12.2: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.3: {'batsman': 'MC Henriques',
    'bowler': 'S Prasanna',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.4: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {12.5: {'batsman': 'TM Head',
    'bowler': 'S Prasanna',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {12.6: {'batsman': 'MC Henriques',
    'bowler': 'S Prasanna',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.1: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {13.2: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'extras': {'wides': 1},
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {13.3: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {13.5: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.6: {'batsman': 'MC Henriques',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {13.7: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.1: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.2: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {14.3: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {14.4: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {14.5: {'batsman': 'MC Henriques',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'TM Head',
    'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
  {14.6: {'batsman': 'TM Head',
    'bowler': 'PADLR Sandakan',
    'non_striker': 'MC Henriques',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.1: {'batsman': 'MC Henriques',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['CK Kapugedera'],
     'kind': 'caught',
     'player_out': 'MC Henriques'}}},
  {15.2: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {15.3: {'batsman': 'AJ Turner',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.4: {'batsman': 'AJ Turner',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {15.5: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {15.6: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'extras': {'wides': 1},
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {15.7: {'batsman': 'TM Head',
    'bowler': 'JRMVB Sanjaya',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
  {16.1: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {16.2: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {16.3: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.5: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {16.6: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.1: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.2: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {17.3: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'extras': {'noballs': 1},
    'non_striker': 'TM Head',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {17.4: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.5: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.6: {'batsman': 'AJ Turner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {17.7: {'batsman': 'TM Head',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.1: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.2: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'TM Head',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {18.3: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {18.4: {'batsman': 'TM Head',
    'bowler': 'SL Malinga',
    'non_striker': 'AJ Turner',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['S Prasanna'],
     'kind': 'caught',
     'player_out': 'TM Head'}}},
  {18.5: {'batsman': 'AJ Turner',
    'bowler': 'SL Malinga',
    'non_striker': 'JP Faulkner',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0},
    'wicket': {'fielders': ['S Prasanna'],
     'kind': 'caught',
     'player_out': 'AJ Turner'}}},
  {18.6: {'batsman': 'JP Faulkner',
    'bowler': 'SL Malinga',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
  {19.1: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
  {19.2: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
  {19.3: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {19.4: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'extras': {'wides': 1},
    'non_striker': 'TD Paine',
    'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
  {19.5: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'TD Paine',
    'runs': {'batsman': 1, 'extras': 0, 'total': 1},
    'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
     'kind': 'run out',
     'player_out': 'TD Paine'}}},
  {19.6: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'PJ Cummins',
    'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
  {19.7: {'batsman': 'JP Faulkner',
    'bowler': 'KMDN Kulasekara',
    'non_striker': 'PJ Cummins',
    'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]}

In [181]:
inp=pd.DataFrame(cr.loc[0,'innings'][0]['1st innings'])
inp

          team                                         deliveries
0    Australia  {0.1: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
1    Australia  {0.2: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
2    Australia  {0.3: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
3    Australia  {0.4: {'batsman': 'M Klinger', 'bowler': 'SL M...
4    Australia  {0.5: {'batsman': 'M Klinger', 'bowler': 'SL M...
..         ...                                                ...
120  Australia  {19.3: {'batsman': 'JP Faulkner', 'bowler': 'K...
121  Australia  {19.4: {'batsman': 'JP Faulkner', 'bowler': 'K...
122  Australia  {19.5: {'batsman': 'JP Faulkner', 'bowler': 'K...
123  Australia  {19.6: {'batsman': 'JP Faulkner', 'bowler': 'K...
124  Australia  {19.7: {'batsman': 'JP Faulkner', 'bowler': 'K...

[125 rows x 2 columns]

In [217]:
l=[]
j=0
for i in range(len(cr)):
    if j<963:
        for k in range(len(pd.DataFrame(cr.loc[i,'innings'][0]['1st innings']))):
            l.append(cr.loc[i,'match_id'])
        j=j+1
    else:
        break

In [218]:
len(l)

116547

In [184]:
de=[]
li=[]
for k,val in (inp['deliveries']).items():
    for key,val in val.items():
        de.append(key)
        li.append(val)

In [207]:
inp['deliveries']

0      {0.1: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
1      {0.2: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
2      {0.3: {'batsman': 'AJ Finch', 'bowler': 'SL Ma...
3      {0.4: {'batsman': 'M Klinger', 'bowler': 'SL M...
4      {0.5: {'batsman': 'M Klinger', 'bowler': 'SL M...
                             ...
120    {19.3: {'batsman': 'JP Faulkner', 'bowler': 'K...
121    {19.4: {'batsman': 'JP Faulkner', 'bowler': 'K...
122    {19.5: {'batsman': 'JP Faulkner', 'bowler': 'K...
123    {19.6: {'batsman': 'JP Faulkner', 'bowler': 'K...
124    {19.7: {'batsman': 'JP Faulkner', 'bowler': 'K...
Name: deliveries, Length: 125, dtype: object

In [185]:
de

[0.1,
 0.2,
 0.3,
 0.4,
 0.5,
 0.6,
 1.1,
 1.2,
 1.3,
 1.4,
 1.5,
 1.6,
 2.1,
 2.2,
 2.3,
 2.4,
 2.5,
 2.6,
 3.1,
 3.2,
 3.3,
 3.4,
 3.5,
 3.6,
 4.1,
 4.2,
 4.3,
 4.4,
 4.5,
 4.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 13.7,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 15.7,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 17.7,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 19.7]

In [186]:
t=pd.DataFrame(li)
t

,batsman,bowler,non_striker,runs,extras,wicket
0,AJ Finch,SL Malinga,M Klinger,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN
1,AJ Finch,SL Malinga,M Klinger,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN
2,AJ Finch,SL Malinga,M Klinger,"{'batsman': 1, 'extras': 0, 'total': 1}",NaN,NaN
3,M Klinger,SL Malinga,AJ Finch,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN
4,M Klinger,SL Malinga,AJ Finch,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN
...,...,...,...,...,...,...
120,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN
121,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 0, 'extras': 1, 'total': 1}",{'wides': 1},NaN
122,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 1, 'extras': 0, 'total': 1}",NaN,"{'fielders': ['CK Kapugedera', 'KMDN Kulasekar..."
123,JP Faulkner,KMDN Kulasekara,PJ Cummins,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN
124,JP Faulkner,KMDN Kulasekara,PJ Cummins,"{'batsman': 4, 'extras': 0, 'total': 4}",NaN,NaN

In [187]:
t['deliveries']=de
t

,batsman,bowler,non_striker,runs,extras,wicket,deliveries
0,AJ Finch,SL Malinga,M Klinger,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN,0.1
1,AJ Finch,SL Malinga,M Klinger,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN,0.2
2,AJ Finch,SL Malinga,M Klinger,"{'batsman': 1, 'extras': 0, 'total': 1}",NaN,NaN,0.3
3,M Klinger,SL Malinga,AJ Finch,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN,0.4
4,M Klinger,SL Malinga,AJ Finch,"{'batsman': 0, 'extras': 0, 'total': 0}",NaN,NaN,0.5
...,...,...,...,...,...,...,...
120,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN,19.3
121,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 0, 'extras': 1, 'total': 1}",{'wides': 1},NaN,19.4
122,JP Faulkner,KMDN Kulasekara,TD Paine,"{'batsman': 1, 'extras': 0, 'total': 1}",NaN,"{'fielders': ['CK Kapugedera', 'KMDN Kulasekar...",19.5
123,JP Faulkner,KMDN Kulasekara,PJ Cummins,"{'batsman': 2, 'extras': 0, 'total': 2}",NaN,NaN,19.6
124,JP Faulkner,KMDN Kulasekara,PJ Cummins,"{'batsman': 4, 'extras': 0, 'total': 4}",NaN,NaN,19.7

In [188]:
len(t['runs'])

125

In [189]:
r=pd.DataFrame(list(t['runs'].values))
r

     batsman  extras  total
0          0       0      0
1          0       0      0
2          1       0      1
3          2       0      2
4          0       0      0
..       ...     ...    ...
120        2       0      2
121        0       1      1
122        1       0      1
123        2       0      2
124        4       0      4

[125 rows x 3 columns]

In [190]:
t.drop('runs',1,inplace=True)

In [191]:
r['runs']=r['batsman']
r['extra_runs']=r['extras']
r['total_runs']=r['total']
r.drop(columns=['batsman','extras','total'],axis=1,inplace=True)

In [192]:
r

     runs  extra_runs  total_runs
0       0           0           0
1       0           0           0
2       1           0           1
3       2           0           2
4       0           0           0
..    ...         ...         ...
120     2           0           2
121     0           1           1
122     1           0           1
123     2           0           2
124     4           0           4

[125 rows x 3 columns]

In [193]:
t=pd.concat([t,r],axis=1)
t

,batsman,bowler,non_striker,extras,wicket,deliveries,runs,extra_runs,total_runs
0,AJ Finch,SL Malinga,M Klinger,NaN,NaN,0.1,0,0,0
1,AJ Finch,SL Malinga,M Klinger,NaN,NaN,0.2,0,0,0
2,AJ Finch,SL Malinga,M Klinger,NaN,NaN,0.3,1,0,1
3,M Klinger,SL Malinga,AJ Finch,NaN,NaN,0.4,2,0,2
4,M Klinger,SL Malinga,AJ Finch,NaN,NaN,0.5,0,0,0
...,...,...,...,...,...,...,...,...,...
120,JP Faulkner,KMDN Kulasekara,TD Paine,NaN,NaN,19.3,2,0,2
121,JP Faulkner,KMDN Kulasekara,TD Paine,{'wides': 1},NaN,19.4,0,1,1
122,JP Faulkner,KMDN Kulasekara,TD Paine,NaN,"{'fielders': ['CK Kapugedera', 'KMDN Kulasekar...",19.5,1,0,1
123,JP Faulkner,KMDN Kulasekara,PJ Cummins,NaN,NaN,19.6,2,0,2
124,JP Faulkner,KMDN Kulasekara,PJ Cummins,NaN,NaN,19.7,4,0,4

In [194]:
t['extras']=t['extras'].replace(np.nan,0)

In [195]:
t.loc[t['extras']=={'wides': 1},'extras']='wides'
t.loc[t['extras']=={'byes': 1},'extras']='byes'
t.loc[t['extras']=={'legbyes': 1},'extras']='legbyes'
t.loc[t['extras']=={'noballs': 1},'extras']='noballs'

In [196]:
t['extras'].values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 'wides', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 'byes', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       'legbyes', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       'wides', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'wides',
       0, 0, 0, 0, 0, 0, 0, 0, 0, 'noballs', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 'wides', 0, 0, 0], dtype=object)

In [197]:
t=pd.get_dummies(data=t,columns=['extras'],drop_first=True)

In [198]:
t['wicket']

0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
120                                                  NaN
121                                                  NaN
122    {'fielders': ['CK Kapugedera', 'KMDN Kulasekar...
123                                                  NaN
124                                                  NaN
Name: wicket, Length: 125, dtype: object

In [199]:
w=pd.DataFrame(t['wicket'].apply(pd.Series))
w.drop(0,axis=1,inplace=True)
w

                             fielders     kind player_out
0                                 NaN      NaN        NaN
1                                 NaN      NaN        NaN
2                                 NaN      NaN        NaN
3                                 NaN      NaN        NaN
4                                 NaN      NaN        NaN
..                                ...      ...        ...
120                               NaN      NaN        NaN
121                               NaN      NaN        NaN
122  [CK Kapugedera, KMDN Kulasekara]  run out   TD Paine
123                               NaN      NaN        NaN
124                               NaN      NaN        NaN

[125 rows x 3 columns]

In [200]:
t['wicket']=t['wicket'].replace(np.nan,0)
t['wicket']=t['wicket'].apply(lambda x : x if x==0 else 1)

In [201]:
t['wicket'].values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [202]:
t

,batsman,bowler,non_striker,wicket,deliveries,runs,extra_runs,total_runs,extras_byes,extras_legbyes,extras_noballs,extras_wides
0,AJ Finch,SL Malinga,M Klinger,0,0.1,0,0,0,0,0,0,0
1,AJ Finch,SL Malinga,M Klinger,0,0.2,0,0,0,0,0,0,0
2,AJ Finch,SL Malinga,M Klinger,0,0.3,1,0,1,0,0,0,0
3,M Klinger,SL Malinga,AJ Finch,0,0.4,2,0,2,0,0,0,0
4,M Klinger,SL Malinga,AJ Finch,0,0.5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
120,JP Faulkner,KMDN Kulasekara,TD Paine,0,19.3,2,0,2,0,0,0,0
121,JP Faulkner,KMDN Kulasekara,TD Paine,0,19.4,0,1,1,0,0,0,1
122,JP Faulkner,KMDN Kulasekara,TD Paine,1,19.5,1,0,1,0,0,0,0
123,JP Faulkner,KMDN Kulasekara,PJ Cummins,0,19.6,2,0,2,0,0,0,0
124,JP Faulkner,KMDN Kulasekara,PJ Cummins,0,19.7,4,0,4,0,0,0,0

In [203]:
t=pd.concat([t,w],axis=1)
t=t.fillna(0)
t

,batsman,bowler,non_striker,wicket,deliveries,runs,extra_runs,total_runs,extras_byes,extras_legbyes,extras_noballs,extras_wides,fielders,kind,player_out
0,AJ Finch,SL Malinga,M Klinger,0,0.1,0,0,0,0,0,0,0,0,0,0
1,AJ Finch,SL Malinga,M Klinger,0,0.2,0,0,0,0,0,0,0,0,0,0
2,AJ Finch,SL Malinga,M Klinger,0,0.3,1,0,1,0,0,0,0,0,0,0
3,M Klinger,SL Malinga,AJ Finch,0,0.4,2,0,2,0,0,0,0,0,0,0
4,M Klinger,SL Malinga,AJ Finch,0,0.5,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,JP Faulkner,KMDN Kulasekara,TD Paine,0,19.3,2,0,2,0,0,0,0,0,0,0
121,JP Faulkner,KMDN Kulasekara,TD Paine,0,19.4,0,1,1,0,0,0,1,0,0,0
122,JP Faulkner,KMDN Kulasekara,TD Paine,1,19.5,1,0,1,0,0,0,0,"[CK Kapugedera, KMDN Kulasekara]",run out,TD Paine
123,JP Faulkner,KMDN Kulasekara,PJ Cummins,0,19.6,2,0,2,0,0,0,0,0,0,0
124,JP Faulkner,KMDN Kulasekara,PJ Cummins,0,19.7,4,0,4,0,0,0,0,0,0,0

In [204]:
t.head()

,batsman,bowler,non_striker,wicket,deliveries,runs,extra_runs,total_runs,extras_byes,extras_legbyes,extras_noballs,extras_wides,fielders,kind,player_out
0,AJ Finch,SL Malinga,M Klinger,0,0.1,0,0,0,0,0,0,0,0,0,0
1,AJ Finch,SL Malinga,M Klinger,0,0.2,0,0,0,0,0,0,0,0,0,0
2,AJ Finch,SL Malinga,M Klinger,0,0.3,1,0,1,0,0,0,0,0,0,0
3,M Klinger,SL Malinga,AJ Finch,0,0.4,2,0,2,0,0,0,0,0,0,0
4,M Klinger,SL Malinga,AJ Finch,0,0.5,0,0,0,0,0,0,0,0,0,0